<%=link_to "Logout", site_loginPage_path%>
<% @stories.each do |story| %>
    <p>
        Title: <%= story.title %> <br />
        Body: <%= story.body %> <br />
        <%=link_to "Read More", story_path(story)%> <br />
    </p>
<% end %>

<%=link_to "Write a new story", stories_new_path%>

