
<div class="nav">
<%=link_to "Logout", users_loginpage_path%>
</div>
<%= form_for @story do |story_form| %>
    Title: <%= story_form.text_field :title, :required => true %> <br />

    Story Body: <%= story_form.text_field :body, :required => true %> <br />

    <%= story_form.submit 'Save'%> <%=link_to "Cancel", stories_path%>

<% end %>
